# Dictionary

In [3]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22', 'city': 'Nagpur'}

# Clear

  * Remove all elements from the car list:

In [9]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [10]:

car.clear()

print(car)

{}

# Copy

In [11]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Fromkeys()

  * this function create a new dictionary with keys from seq values set to the value.

In [14]:
x = ('key1', 'key2', 'key3')
y = 0

dict = dict.fromkeys(x, y)

print(dict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [15]:
dict1={'age'}
dict2={'22'}
new_dict = dict.fromkeys(dict1,dict2)
print(new_dict)

{'age': {'22'}}

# Get

In [16]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22', 'city': 'Nagpur'}

In [17]:
dict.get('age')

'22'

# Items()

In [18]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

# Keys

In [19]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22', 'city': 'Nagpur'}

In [20]:
dict.keys()

dict_keys(['name', 'surname', 'age', 'city'])

# PoP()

  * The pop() method removes the specified item from the dictionary.  * 
The value of the removed item is the return value of the pop() method

In [21]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22', 'city': 'Nagpur'}

In [22]:
dict.pop('city')

'Nagpur'

# Popitem()

  * The popitem() method removes the item that was last inserted into the dictionary. In versions before 3.7, the popitem() method removes a random item.
  * The removed item is the return value of the popitem()

In [23]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
item = dict.popitem()
item

('city', 'Nagpur')

In [24]:
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22'}

# Setdefault

  * The setdefault() method returns the value of the item with the specified key.
  * If the key does not exist, insert the key, with the specified value

In [25]:
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22'}

In [27]:
value =dict.setdefault('country','India')
value

'India'

In [28]:
dict

{'name': 'kanchan',
 'surname': 'chute',
 'age': '22',
 'count': 'aus',
 'country': 'India'}

# Dictionary

  * The update() method inserts the specified items to the dictionary.
  * The specified items can be a dictionary, or an iterable object with key value pairs.

In [1]:
dict = {'name':'kanchan', 'surname':'chute', 'age':'22', 'city':'Nagpur'}
dict

{'name': 'kanchan', 'surname': 'chute', 'age': '22', 'city': 'Nagpur'}

In [4]:
dict.update({'country':'India'})
dict

{'name': 'kanchan',
 'surname': 'chute',
 'age': '22',
 'city': 'Nagpur',
 'country': 'India'}

# Values()

  * The values() method returns a view object. The view object contains the values of the dictionary, as a list.
  * The view object will reflect any changes done to the dictionary

In [5]:
dict

{'name': 'kanchan',
 'surname': 'chute',
 'age': '22',
 'city': 'Nagpur',
 'country': 'India'}

In [6]:
dict.values()

dict_values(['kanchan', 'chute', '22', 'Nagpur', 'India'])